<div class="detail-img">

</div>
<div class="detail-content">
    <h2> NAME MOVIE</h2>
    <br />
    <div class="content-info">
        <h4 class="infor-label">LABEL</h4>
        noidung noidung
    </div>
    <div class="content-info">
        <h4 class="infor-label">LABEL</h4>
        noidung noidung
    </div>
    <div class="content-info">
        <h4 class="infor-label">LABEL:</h4>
        noidung noidung
    </div>
</div>
<button class="btn-close" onclick="turnoff(this)"> X </button>