
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<form method="post" class="form-add">
    <button class="btn-close" type="button" onclick="turnoff(this)"> X</button>
    <div class="form-gr">
        <label for="Name"> Name </label>
        <input type="text" name="Name" id="Name">
    </div>
    <div class="form-gr">
        <label for="Director"> Director </label>
        <input type="text" name="Director" id="Director">
    </div>
    <div class="form-gr">
        <label for="Category"> Category </label>
        <input type="text" name="Category" id="Category">
    </div>
    <div class="form-gr">
        <label for="Time"> Time </label>
        <input type="number" placeholder="Minutes" name="Time" id="Time">
    </div>
    <div class="form-gr">
        <label for="Description"> Description </label>
        <input type="file" name="Description" id="Description">
    </div>
    <div class="form-gr">
        <label for="Image"> Image </label>
        <input type="file" name="Image" id="Image">
    </div>
    <button class="btn-submit" type="submit"> Add </button>
</form>
<div class="head-content">
    <h2>Quan li phim</h2>
    <div class="func">
        <button class="btn" type="button" onclick= "turnon(this)"> Them Phim</button>
        <button class="btn" type="button"> Xoa Phim</button>
    </div>
</div>
<div class="partialview-detail">
    @*<div class="detail-img">

    </div>
    <div class="detail-content">
        <h2> NAME MOVIE</h2>
        <br />
        <div class="content-info">
            <h4 class="infor-label">LABEL</h4>
            noidung noidung
        </div>
        <div class="content-info">
            <h4 class="infor-label">LABEL</h4>
            noidung noidung
        </div>
        <div class="content-info">
            <h4 class="infor-label">LABEL:</h4>
            noidung noidung
        </div>
    </div>*@
</div>
<div class="body-content">
    <table>
        <tr class="tb-row">
            <th> TenPhim </th>
            <th> TheLoai </th>
            <th> Time </th>
        </tr>
        <tr class="tb-row detail">
            <td> Phim1 </td>
            <td> Fantasty</td>
            <td> 1:40:05</td>
        </tr>
        <tr class="tb-row detail" id="1">
            <td> Phim1 </td>
            <td> Fantasty</td>
            <td> 1:40:05</td>
        </tr>
        <tr class="tb-row detail">
            <td> Phim1 </td>
            <td> Fantasty</td>
            <td> 1:40:05</td>
        </tr>

    </table>
</div>
    
