@model IEnumerable<CinemaWeb.Models.Phim>
@{
    ViewBag.Title = "Phim";
    Layout = (ViewBag.Layout as bool?) == false ? null : "~/Views/Shared/_LayoutAdmin.cshtml";
}
    @{Html.RenderPartial("FilmAdd", ViewData["model"], ViewData);}
<div class="body-content">
    <table>
        <tr class="tb-row">
            <th> TenPhim </th>
            <th> TheLoai </th>
            <th> Time </th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr class="tb-row detail" id= @item.MaPhim >
                    <td> @item.TenPhim </td>
                    <td> @item.TheLoai</td>
                    <td> @item.ThoiLuong Phut</td>
                </tr>
            }
        }
    </table>
</div>

    
